/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  height: 300px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  }

.rslides li {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  }

.rslides li.show {
  display: block;
  z-index: 3;
}

@media screen and (min-width: 890px) {
  .rslides {
    height: 500px;
  }
}